// # Set the variables if not allready set.


// A signal-color
$primary: #900

// Another signal-color
$secondary: #099

// An unobtrusive color
// It's used for e.g. borders.
$tertiary: #999

// A light color
// It's used für e.g. the body-background, and labels of colored buttons.
$quadrary: #fefefe


// The max-width for the whole page
$page-width: 1200px

// The top and the bottom whitespace for various elements
$space-t-b: 2rem
// The left and the right whitespace for various elements
$space-l-r: 4rem

// Standart-font
$font-std: 'Droid Sans', helvetica
// Highlight-font (e.g. headlines)
$font-highlight: Amaranth, helvetica
// Font-size for the body (all other text-elements are styled with 'em')
$font-size: 16px
// Standard-font-color
$font-color: #222

// Misc
$border-style: solid
$border-width: 1px
$radius: 6px
