@import 'sass-boilerplate/mixins/all'
@import 'variables'

+all

body
  font-family: $font-std

h1, h2, h3, h4, h5, h6
  color: $primary

#container
  width: 80%
  border: 1px solid $border-color
  padding: $space-t-b $space-l-r
  margin: $space-t-b auto
  background-color: $quadrary

a
  color: $secondary
  text-decoration: none
  &:hover
    text-decoration: underline

#breadcrumbs
  color: $secondary
  margin: $space-t-b 0

#listingcontainer
  padding: 1em
  background-color: $tertiary
  border: 1px solid $tertiary - #222
  a
    padding: 1em
    display: block
    text-decoration: none

#listingheader
  color: $quadrary
  text-align: left
  background-color: $tertiary - #444
  a
    color: $quadrary

.file
  text-align: center

.modified
  text-align: right

.size
  text-align: right

table
  border-spacing: 0

#listing
  tr
    &:hover
      background-color: $border-color
  a
    img
      display: block
      margin: 0 auto

#upload
  border: 1px solid #A7C5FF
  display: block
  margin-top: 10px
  font-size: small
  color: #6285CA
  text-decoration: none
  background-color: $quadrary - #111

#uploadtitle
  background-color: #DBE6FE
  padding: 2px 5px 2px 5px
  border-bottom: 1px solid #A7C5FF

#uploadcontent
  padding: 2px 5px 2px 5px

#copy
  margin-left: auto
  margin-right: auto
  text-align: center
  font-size: x-small
  color: #666666
  a
    text-decoration: underline
    color: #666666

.b
  background-color: $quadrary - #111

.w
  background-color: #FFFFFF

.upload-error
  padding: 2px 0
  strong
    color: #993333
