:focus {
  outline: 0; }

::-moz-selection {
  background: #990000;
  color: #fefefe; }

::selection {
  background: #990000;
  color: #fefefe; }

html, body {
  min-height: 100%; }

body {
  background: #fefefe; }

fieldset {
  padding: 2rem 4rem;
  border-color: white;
  border-style: solid;
  border-width: 1px; }

.left {
  float: left; }

.right {
  float: right; }

.center {
  text-align: center; }

.img-left {
  float: left;
  margin-right: 2em;
  margin-bottom: 1em; }

.img-right {
  float: right;
  margin-left: 2em;
  margin-bottom: 1em; }

.multi-col-50-50 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .multi-col-50-50 .col-1 {
    width: 50%;
    float: left; }
  .multi-col-50-50 .col-2 {
    width: 50%;
    float: right; }

.multi-col-30-30-30 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .multi-col-30-30-30 .col-1 {
    width: 33%;
    float: left; }
  .multi-col-30-30-30 .col-2 {
    width: 34%;
    float: left; }
  .multi-col-30-30-30 .col-3 {
    width: 33%;
    float: left; }

.clearit {
  height: 0 !important;
  width: 0 !important;
  line-height: 0 !important;
  clear: both !important;
  float: none !important; }

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  font-size: 0;
  clear: both; }

.footer {
  margin: 0px auto;
  width: 100%; }

.width-wrap {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }

.inner-width-wrap {
  padding: 2rem 4rem; }

.main-content img {
  max-width: 100%; }

.page-wrap {
  padding: 2rem 4rem; }

input[type="text"],
input[type="email"],
input[type="date"],
input[type="password"],
input[type="search"],
textarea {
  display: block;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  border-color: #dddddd;
  background: #fefefe;
  border-radius: 6px;
  padding: 0.3em 2%;
  font-size: 1em;
  line-height: 1.5em;
  -webkit-transition: 0.2s;
  transition: 0.2s; }
  input[type="text"]:disabled,
  input[type="email"]:disabled,
  input[type="date"]:disabled,
  input[type="password"]:disabled,
  input[type="search"]:disabled,
  textarea:disabled {
    background: #ededed;
    color: #777777; }
  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="date"]:focus,
  input[type="password"]:focus,
  input[type="search"]:focus,
  textarea:focus {
    border-color: #bbbbbb;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background: white; }

textarea {
  resize: vertical; }

table {
  width: 100%; }

button,
.button,
input[type="button"],
input[type="submit"],
input[type="reset"] {
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding: 0.5em 1em;
  cursor: pointer;
  color: #fefefe;
  text-align: center;
  text-decoration: none;
  background: #009999;
  border: none;
  font-size: 1em;
  font-family: "Droid Sans", helvetica;
  border-radius: 6px;
  -webkit-transition: 0.3s;
  transition: 0.3s; }
  button:hover,
  .button:hover,
  input[type="button"]:hover,
  input[type="submit"]:hover,
  input[type="reset"]:hover {
    text-decoration: none;
    color: #fefefe;
    background: #007777; }
  button a,
  .button a,
  input[type="button"] a,
  input[type="submit"] a,
  input[type="reset"] a {
    text-decoration: none; }
  button:disabled, button.passive,
  .button:disabled,
  .button.passive,
  input[type="button"]:disabled,
  input[type="button"].passive,
  input[type="submit"]:disabled,
  input[type="submit"].passive,
  input[type="reset"]:disabled,
  input[type="reset"].passive {
    background: #eeeeee;
    cursor: default; }

blockquote {
  padding: 0 0 0 2.5em;
  margin: 2em 0;
  border-left: 1px solid #dddddd;
  font-style: italic; }

code {
  background: #ededed;
  padding: 0.1em 0.2em;
  border-radius: 6px; }

pre {
  background: #ededed;
  padding: 20px;
  overflow: scroll;
  border-radius: 6px; }
  pre > code {
    white-space: pre; }
  pre code {
    padding: 0;
    border: none;
    background: transparent; }

body {
  font-family: "Droid Sans", helvetica; }

h1, h2, h3, h4, h5, h6 {
  color: #990000; }

#container {
  width: 80%;
  border: 1px solid #dddddd;
  padding: 2rem 4rem;
  margin: 2rem auto;
  background-color: #fefefe; }

a {
  color: #009999;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

#breadcrumbs {
  color: #009999;
  margin: 2rem 0; }

#listingcontainer {
  padding: 1em;
  background-color: #999999;
  border: 1px solid #777777; }
  #listingcontainer a {
    padding: 1em;
    display: block;
    text-decoration: none; }

#listingheader {
  color: #fefefe;
  text-align: left;
  background-color: #555555; }
  #listingheader a {
    color: #fefefe; }

.file {
  text-align: center; }

.modified {
  text-align: right; }

.size {
  text-align: right; }

table {
  border-spacing: 0; }

#listing tr:hover {
  background-color: #dddddd; }
#listing a img {
  display: block;
  margin: 0 auto; }

#upload {
  border: 1px solid #a7c5ff;
  display: block;
  margin-top: 10px;
  font-size: small;
  color: #6285ca;
  text-decoration: none;
  background-color: #ededed; }

#uploadtitle {
  background-color: #dbe6fe;
  padding: 2px 5px 2px 5px;
  border-bottom: 1px solid #a7c5ff; }

#uploadcontent {
  padding: 2px 5px 2px 5px; }

#copy {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: x-small;
  color: #666666; }
  #copy a {
    text-decoration: underline;
    color: #666666; }

.b {
  background-color: #ededed; }

.w {
  background-color: white; }

.upload-error {
  padding: 2px 0; }
  .upload-error strong {
    color: #993333; }
